@model GestionEtudiantsProjet.ViewModels.CoursViewModel

@{
    ViewData["Title"] = "AjouterCours";
}
<link rel="stylesheet" href="~/css//AjouterCours.css" />
<h2 class="two">Ajouter un cours</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AjouterCours" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume_horaire" class="control-label">Volume horaire</label>
                <input asp-for="Volume_horaire" class="form-control" />
                <span asp-validation-for="Volume_horaire" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                @* <input type="submit" value="Ajouter" class="btn btn-primary" /> *@
                <button class="cssbuttons-io-button">
                    Ajouter
                    <div class="icon">
                        <svg height="24"
                             width="24"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                  fill="currentColor"></path>
                        </svg>
                    </div>
                </button>

            </div>
        </form>
    </div>
    <div class="imageajouter">
        <img src="~/images/im.jpg" style=" border-radius: 50px;" />
    </div>
</div>

<div>
    <a asp-action="ListCours">Retour à la liste </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
